@import '../mixins';

.reg-form{
    @include borders();
    width: calc($standard-project-width + 20px);
    position: relative;
    top: $form-login-shift-top;

    label{
        display: block;
        margin: 20px auto 5px auto;
        width: 80%;
    }
    input{
        @include borders();
        display: block;
        margin: 5px auto;
        width: 80%;
    }
    .link-button{
        @include borders();
        width: 100px;
        text-align: center;
        display: block;
        margin: 15px auto;
        padding: 3px 10px;
        background-color: $buttons-color;
    }

    .form-message{
        width: 80%;
        text-align: center;
        margin: 5px auto;
        color: red;
    }

    .link-button:active{
        background-color: $buttons-color-active;
    }
 
}