header {
    background-color: $header-background-color;
    h1 {
        text-align: center;
    }
    nav {
        width: $standard-project-width;
        margin: 0px auto;
        text-align: right;
        padding: 3px;
    }
}