:root{
  --alert-message-wrapper-width: 310px;
}

main {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: bisque;
  min-height: 100vh;
  padding: 20px 10px;
}

@mixin padding-border() {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}


@mixin wrapper_size(){
   max-width: 300px;
   padding: 15px;
   margin: 5px;
}

.form__cat-search{
 
  @include wrapper_size();
  @include padding-border();

  input{
    width: 190px;
  }
  label{
    display: inline-block;
    margin: 3px 0px;
  }
}


.catalyst-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 10px;
  color: rgb(77, 12, 12); 
}

.catalyst-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  @include padding-border();
  .card-header{
    h3, h5{
      display: block;
      margin: 0px;
      padding: 0px;
      word-break: break-all;
    }
   
  }

   .catalyst-card-photo{
      display: block;
      width: 280px;
      margin: 2px auto;
    }

  .catalyst-metals{
    display: flex;
    justify-content: space-around;
    img{
      height: 50px;
    }
  }
  .catalyst-price{
    text-align: center;
    //width: 80%;
    font-size: 1.5em;
    padding: 15px;
    margin: 5px;
    .catalyst-price-value{
      color: red;
    }
    button{
      @include padding-border();
    }
  }
}

a{
  text-decoration: none;
}

.search-alert{
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  @include padding-border();
  opacity: 0.8;
  background-color: rgb(18, 3, 52);
  color:rgb(188, 238, 188);
}

#alert-message-wrapper{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  @include padding-border();
  z-index: 1;
  position: fixed;
  width: var(--alert-message-wrapper-width);
  min-height: 15%;
  top: 30%;
  left: calc(50vw - var(--alert-message-wrapper-width) / 2);//Вычитаем 2 паддинга
  background-color: rgb(197, 197, 230);
  div{
    text-align: center;
  }
  button{
    display: block;
    margin: 10px auto 5px auto;
    text-align: center;
    padding: 3px 20px;
    
  }
}