:root{
  --alert-message-wrapper-width: 310px;
}

$border-color: #303030;
$background-color: bisque;
$header-background-color: rgb(248, 229, 205);

$standard-project-width: 300px;

$form-login-shift-top: -10vh;

$buttons-color: #E0E0E0;
$buttons-color-active: #EAEAEA;